{{ block "player" . }}
<div id="player">
  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
    <table class="w-full border-collapse bg-white text-left text-gray-500 ">
      <thead class="bg-gray-50">
        <th class="px-6 py-4 font-medium text-gray-900">Playername:</th>
        <th class="px-6 py-4 font-medium text-gray-900">Duration:</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        {{ range .PlayersInfo.Players }}
        <tr class="hover:bg-gray-50"">
          <td class=" px-6 py-4">
          <div class="font-medium text-gray-700">{{ .Name }}
          </div>
          </td>
          <td class="px-6 py-4">
            <div class="font-medium text-gray-700">
              {{ .Duration }}
            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ end}}

  {{ block "server" .}}
  <tr id="new_server-container">
    <td class="px-6 py-4">
    </td>
    <td class="px-6 py-4">
    </td>
    <td class="px-6 py-4">
    </td>
    <td class="px-6 py-4">
    </td>
  </tr>
  {{ end}}
